# Django
SECRET_KEY=CHANGEME
DEBUG=1
ALLOWED_HOSTS=*

# Banco local (compose)
DATABASE_URL=postgresql://app_user:app_password@db:5432/app_db
REDIS_URL=redis://redis:6379/0

TRANSACTION_ENDPOINT=http://localhost:8000/transacao/
# (opcionais, só se quiser enviar resposta via API da instância)
EVOLUTION_VERIFY_TOKEN=
EVOLUTION_API_TOKEN=
EVOLUTION_API_BASE=

# Groq
GROQ_API_KEY=CHANGEME

# Uazapi
UAZAPI_URL=https://
UAZAPI_TOKEN=CHANGEME
UAZAPI_INSTANCE_NAME=CHANGEME
EVOLUTION_BOT_KEY=
API_BASE_URL=http://web:8000

# Integrações (ex.: WhatsApp)
WPP_API_URL=http://localhost:3000
WPP_API_TOKEN=CHANGEME
